<h2 style = "font-weight: bold; ">
  Olá {{name}}, tudo bem?
</h2>
<h3 style = "font-weight: normal;">
  Vimos que você enviou a seguinte pergunta: "<span style = "font-weight: bold">{{question}}</span>".
  Nossa resposta é a seguinte: {{answer}}
  <br />
  Esperamos ter ajudado de alguma forma, caso haja mais dúvidas, estamos sempre disponíveis.
</h3>